<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>内容</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
{% if question_list %}
    <ul>
        {% for q in question_list %}
{#            死路由#}
{#        <a href="/polls/{{ q.id }}"><li>{{ q.question_test }}</li></a>#}

{#            可变路由#}
            <a href="{%  url 'polls:detail' q.id %}"><li>{{ q.question_test }}</li></a>
        {% endfor %}
    </ul>
{% else %}
    <p>is none</p>
{% endif %}
</body>
</html>